{% load i18n %}
{% load ndf_tags %}

<style type="text/css">
	/*Style for dropdown*/

ul#navigation {
  position:relative;
  float:left;
}

ul#navigation li {
  display:inline;
  float:left;
  position:relative;
}

ul#navigation li a {
  padding:7px 7px;
  text-shadow:1px 1px 0px #fff;
  display:inline-block;  
}

ul#navigation li a:hover {
  background:#f8f8f8;
  color:#282828;
}

ul#navigation li:hover > a {
  background:#fff;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
  visibility:visible;
  opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
  list-style: none;
  margin: 0;
  padding: 0;    
  visibility:hidden;
  position: absolute;
  z-index: 99999;
  width:180px;
  /*width: 30em !important;*/
  background:#f8f8f8;
  box-shadow:1px 1px 3px #ccc;
  opacity:0;
  -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
  -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
  -o-transition:opacity 0.2s linear, visibility 0.2s linear; 
  transition:opacity 0.2s linear, visibility 0.2s linear;   
}

ul#navigation ul {
    top: 43px;
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px;
}

ul#navigation ul li {
  clear:both;
  width:100%;
  border:0 none;
  border-bottom:1px solid #c9c9c9;
}

ul#navigation ul li a {
  background:none;
  padding:7px 15px;
  color:#616161;
  text-shadow:1px 1px 0px #fff;
  text-decoration:none;
  display:inline-block;
  border:0 none;
  float:left;
  clear:both;
  width:100%;
}

ul#navigation li a.first {
  border-left: 0 none;
}

ul#navigation li a.last {
  border-right: 0 none;
}

.edu-sub-li {
  background-color:#f8f8f8;
  width: 30em !important;
}

/*end dropdown style*/

</style>

<nav id="nav">
<ul id="navigation">
<li><a href="#" class="view-filters"><i class="fi-list"></i> {% trans "Filter based on" %} </a>
  <ul id="view-elements">
    {% get_metadata_values as metadata %}
    {% for k,v in metadata.items %}
      {% if k == "educationallevel" %}            
        <li>
          <a> {% trans "Educational Level" %} &raquo;</a>
          <ul>
            {% for opts in v %}
              <li class="view_list edu-sub-li view-filters" id="{{k}}" title="{{opts}}"><a>{% trans opts %}</a></li>
            {% endfor %}
          </ul>
        </li> 
      <!-- {#% elif k == "educationalsubject" %#}
        <li class="view_list" id="{{k}}"><a> {% trans "Educational Subject" %} </a></li>  -->
      {% endif %}

    {% endfor %}
  </ul>
</li>
</ul>
</nav>