{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}
{% load i18n %}
{% get_group_name groupid as group_name_tag %}
{% get_group_type request.path request.user as group_type %}

{% block title %} {{ node.member_of_names_list|join:", " }} - {{ node.name }}  {% endblock %}
{% block head %}

<!-- <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
<script type="text/javascript" src="/static/ndf/bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> <!-- checked -->

<!-- MathJax-In-Line-Configuration: Specifying the configuration settings -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      displayMath: [['\\[','\\]'], ['$$','$$']]
    }
  });
</script>

<!-- script to call ajax function for converting collection into module -->
<script>
  $(document).ready(function()
  {
    $("#module").one("click", function()
    {
     $.ajax({
      url:"/{{groupid}}/ajax/make_module/",
      type:"GET",
      data:{_id:"{{node.pk}}"},
      beforeSend:function(){
        $("#ajax_search").show();
      },
      success: function(result){
       $("#ajax_search").hide();
       $("#module").attr("disabled", "disabled");
       alert(result);

     }
   });
   });
  });
</script>

{% endblock %}


{% block meta_content %}
{% endblock %}


{% block related_content %}
{% endblock %}


{% block collection_content %}
  <div id="view_collection">
    {% include "ndf/collection_ajax_view.html" %}  
  </div>
{% endblock %}


{% block add_resource_content %}  

{% if topic %}
  <br/>
  <dl class="accordion" data-accordion>
    <dd>
      {% blocktrans %}<a href="#add_resources"> <b>Add resources in this topic</b> </a>{% endblocktrans %}
      <div id="add_resources" class="content">
        <div> 

            <a class="tiny button" data-reveal-id="view_add_page"> 
              {% blocktrans %}<span class="fi-plus">&nbsp;&nbsp;Add Page </span>&nbsp;&nbsp; <i class="fi-page"></i>{% endblocktrans %}  
            </a>
            <div id="view_add_page" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 

             {% blocktrans %} <h3>Add New Page:</h3>{% endblocktrans %}
              <!-- To enter name of the page -->
              <div>
                <input class="name_id" name="name" type="text" placeholder="Enter name...">
              </div>              
              <!-- To enter tags -->
              <div>
                <span data-tooltip class="has-tip" title="Tags help identify similiar work easily. You can add as many labels as you wish using a comma ','"><label>Tag{{node.tags|pluralize|default_if_none:"s"}}</label>
                </span>
                <input class="tags_id" name="tags" type="text" value="{{node.tags|join:', '|default_if_none:""}}" placeholder="Separate tags with commas...">
              </div>  
              <!-- To enter description(org content) -->
              <div class="row">
                <div class="medium-12 columns">
                  {% include "ndf/add_editor.html" with var_name="content_org" var_placeholder="Enter the content here" %}
                </div>
              </div>

              <input type="submit" id="add_page" value="Save Page" class="medium round button"/>

              {% blocktrans %}<a class="close-reveal-modal">&#215;</a>{% endblocktrans %}

            </div>          

        </div>

        <div> 
          <a class="tiny button" data-reveal-id="view_add_file"> 
            {% blocktrans %}<span class="fi-plus">&nbsp;&nbsp;Add File </span>&nbsp;&nbsp; <i class="fi-play"></i>{% endblocktrans %}  
          </a>

          <div id="view_add_file" class="reveal-modal" data-reveal style="height:300px;">
            {% blocktrans %}<h3>Add New File:</h3>{% endblocktrans %}<br/>
            <!-- Upload file -->
            <form class="dropzone" id ="docPost" enctype="multipart/form-data" method="post" action="{% url 'add_file' group_name_tag %}?context_node={{node.pk}}">
            {% csrf_token %}

            <div>
              <span class="fi-upload"><input type="file" name="doc[]" id="docFile" multiple/></span>
            </div>
            <!-- For making access policy of files PUBLIC initially by uploading it from topic page -->
            <input type="hidden" name="login-mode" value="PUBLIC">
            <!-- Just a hidden value which enables us to retun to add_file() in ajax_views when any file gets uploaded -->
            <input type="hidden" name="type" value="topic_file">
            <!-- This is for getting the user of the uploaded file -->
            <input type="hidden" name="user" value="{{request.user.pk}}">
            <input type="submit" class="small round button" id="add_file" value="Save File">

            </form>
            {% blocktrans %}<a class="close-reveal-modal">&#215;</a>{% endblocktrans %}

          </div>

        </div>

        <div> 
          <a class="tiny button" data-reveal-id="view_add_event"> 
           {% blocktrans %} <span class="fi-plus">&nbsp;&nbsp;Add Events </span>&nbsp;&nbsp; <i class=""></i>{% endblocktrans %}  
          </a>
          <div id="view_add_event" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 
        
            {% blocktrans %} <b>Add events feature will be comming soon</b> {% endblocktrans %}

            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>

        <div> 
          <a class="tiny button" id="addConcept" data-reveal-id="view_add_concept"> 
           {% blocktrans %} <span class="fi-plus">&nbsp;&nbsp;Add Concepts </span>&nbsp;&nbsp; <i class=""></i>{% endblocktrans %}  
          </a>
          <div id="view_add_concept" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 
            <h3>{% blocktrans %} Add New Concept{% endblocktrans %} for {{node.name}}</h3><br/>

            <!-- To enter name of the concept -->
            <div>
              <div class="row">

               <div class="small-3 columns">
                {% blocktrans %} Select Relation Name : {% endblocktrans %}  
               </div>

               <div class="small-7 columns">
                <select id="relName">
                  <option value="None">--- select relation name ---</option>
                  {% for each in relations %}
                    <option value="{{each.name}}">{{each.name}} -- {{each.inverse_name}}</option>
                  {% endfor %}
                </select>  
               </div>

               <div class="small-2 columns">
                <a id="add_relation" class="small button fi-plus"></a>
               </div>

              </div>

              <div class="row add_relation" style="display:none;">
                <div class="small-12 columns" style="background-color: #b0c4de;">
                    <br/>
                    <div class="small-3 columns">
                      {% blocktrans %} Enter Relation Name : {% endblocktrans %} 
                    </div>
                    <div class="small-9 columns">
                      <input id="relation_name" type="text" placeholder="Enter Relation Name...">  
                    </div>
                  
                    <div class="small-3 columns">
                      {% blocktrans %} Enter Inverse Relation Name : {% endblocktrans %}  
                    </div>
                    <div class="small-9 columns">
                      <input id="inverse_name" type="text" placeholder="Enter Inverse Relation Name...">  
                    </div>
                  
                    <div class="small-12 columns">
                      {% blocktrans %} Specify reason for creating this relation {% endblocktrans %}
                    </div>
                    <div class="medium-12 columns">
                      {% include "ndf/add_editor.html" with var_name="content_org" var_placeholder="Enter the content here" %}
                    </div>

                    <input type="submit" id="addRelation" value="Send Request" class="small round button"/>
                
                </div>
              </div><br/>                

              <div class="row">
                <div class="small-12 columns">
                  <dl class="accordion" data-accordion>
                  <dd>
                    <a href="#addConcept" class="small-2 columns button">{% blocktrans %}Add New Concept{% endblocktrans %}</a>
                    <div id="addConcept" class="content">
                      <input id="concept_name" type="text" placeholder="Enter Concept Name...">  
                      <input type="submit" id="add_save_concept" value="Add & Save New Concept" class="small round button"/>
                    </div>                    
                  </dd>
                  </dl>  
                </div>                
              </div>           
              
              <div class="row">
                <div class="small-12 columns">
                  {% blocktrans %} Select Concept/Topic from following drawers : {% endblocktrans %}                   
                </div>
              </div>              
              <div class="row">
                <div class="small-12 columns">
                  <div id="collection_drawer">
                    {% edit_drawer_widget "concept" groupid node "Concept" %}
                  </div>
                </div>
              </div>
                          
            </div>

            <input type="submit" id="add_concept" value="Save Concept" class="medium round button"/>

            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>

      </div>
    </dd>
  </dl>

<script type="text/javascript">

$("#add_page").click(function() {

      $.ajax({
        type: "POST",
        url: "{% url 'add_page' groupid %}",
        datatype: "html",
        data:{
          context_node: "{{node.pk}}",
          name: $(".name_id").val(),
          tags: $(".tags_id").val(),
          content_org: $(".orgedit").val(),
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {

          var page = $(".name_id").val();

          if ($.trim(data) === "failure") {
            alert("Page name "+ page +" already available, Please choose different name");
          }

          if ($.trim(data) === "success") {
            location.reload(true);
          }

          $(".name_id").val("");
        }
      });

});

$("#add_relation").click(function() {
  $(".add_relation").css("display", "block");
});

$("#addRelation").click(function() {
  alert("Your request for creating this relation is sent for approval\n\nThe team will get back to you very soon regarding your request");
});

$("#add_save_concept").click(function() {
  var selected_rel = $("#relName").val();
  if (selected_rel == "None"){
    alert("Please choose relation name");        
  }

  else{
    

    // Ajax call for saving concept
    $.ajax({
        type: "POST",
        url: "{% url 'add_concept' groupid %}",
        datatype: "html",
        data:{
          context_node: "{{node.pk}}",
          concept_name: $("#concept_name").val(),
          relation_name: selected_rel,
          // content_org: $(".orgedit").val(),
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
          
          var concept = $("#concept_name").val();

          if ($.trim(data) === "failure") {
            alert("Concept name "+ concept +" already available, Please select it from drawer below");
          }

          if ($.trim(data) === "success") {
            location.reload(true);
          }

          $("#concept_name").val("");
          
        }
    });

  }


});

$("#add_concept").click(function() {
  var selected_rel = $("#relName").val();
  if (selected_rel == "None"){
    alert("Please choose relation name");        
  }

  else{

    // To fetch the drawer2 records in a list on click of add_save_concept
    tch_arr=[]  // for teaches
    $(".node_id").each(function (){

      if ($(this).parent(".bullet-item").parent("#concept_drawer2").attr("id") == "concept_drawer2") {
        tch_arr.push($(this).val());
      }
     
    });

    // alert(tch_arr);
    $("#concept_list").val(tch_arr);
    // End of fetching the drawer2 list

    // Ajax call for saving concept
    $.ajax({
        type: "POST",
        url: "{% url 'add_concept' groupid %}",
        datatype: "html",
        data:{
          context_node: "{{node.pk}}",
          concept_list: $("#concept_list").val(),
          relation_name: selected_rel,
          // content_org: $(".orgedit").val(),
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
          
          var concept = $("#concept_name").val();

          if ($.trim(data) === "failure") {
            alert("Concept name "+ concept +" already available, Please select it from drawer below");
          }

          if ($.trim(data) === "success") {
            location.reload(true);
          }

          $("#concept_name").val("");
          
        }
    });

  }

});


</script>
{% endif %}

{% endblock %}

{% block shelf_content %}
  {% include "ndf/shelf.html" %}  
{% endblock %}


{% block body_content %}
<div id="view_page">
  {% include "ndf/node_ajax_view.html" %}  
</div>
{% endblock %}

{% block script%}

function addNewShelf(shelfName)
{
  shelfNameList = [];
  $('#shelf-items dd > a').each(function(b){ shelfNameList.push($(this).text())});

  if ( ($.inArray(shelfName.toLowerCase(), $.map(shelfNameList, function(n,i){return n.toLowerCase()}))) < 0 ) {
    shelfNameId = shelfName.split(" ").join("_");

    $( "#shelf-items dd:nth-child(1)" )
    .after( "<dd><a href='#panel_"+shelfNameId+"'>"+shelfName+"</a><div id='panel_"+shelfNameId+"' class='content'><a href='#' class='button expand'> Add this to shelf </a></div></dd>" );
  }

  else {
    alert("Shelf with this name already exist !\n\n Create shelf with different name.");
  }

}

{% endblock %}
